PortLog/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58396/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServicePortLog1" />
  <xs:element name="TraerProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServicePortLog1" minOccurs="0" name="TraerProductosResult" nillable="true" type="q1:ArrayOfDTOProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaImportacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
        <xs:element minOccurs="0" name="fechaIngreso" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaSalidaPrevista" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idProd" type="xs:int" />
        <xs:element minOccurs="0" name="precioProducto" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaImportacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaImportacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>